################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/APP/bin/Debug/net8.0
/CORE/bin/Debug/net8.0
/MVC/bin/Debug/net8.0
/MVC/obj/Debug/net8.0/ref
/MVC/obj/Debug/net8.0/refint
/MVC/obj/Debug/net8.0/scopedcss
/MVC/obj/Debug/net8.0/ApiEndpoints.json
/MVC/obj/Debug/net8.0/apphost.exe
/MVC/obj/Debug/net8.0/MVC.AssemblyInfo.cs
/MVC/obj/Debug/net8.0/MVC.AssemblyInfoInputs.cache
/MVC/obj/Debug/net8.0/MVC.csproj.AssemblyReference.cache
/MVC/obj/Debug/net8.0/MVC.csproj.BuildWithSkipAnalyzers
/MVC/obj/Debug/net8.0/MVC.csproj.CoreCompileInputs.cache
/MVC/obj/Debug/net8.0/MVC.csproj.FileListAbsolute.txt
/MVC/obj/Debug/net8.0/MVC.csproj.Up2Date
/MVC/obj/Debug/net8.0/MVC.dll
/MVC/obj/Debug/net8.0/MVC.genruntimeconfig.cache
/MVC/obj/Debug/net8.0/MVC.MvcApplicationPartsAssemblyInfo.cache
/MVC/obj/Debug/net8.0/MVC.pdb
/MVC/obj/Debug/net8.0/MVC.sourcelink.json
/MVC/obj/Debug/net8.0/rbcswa.dswa.cache.json
/MVC/obj/Debug/net8.0/rjimswa.dswa.cache.json
/MVC/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
/MVC/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
/MVC/obj/Debug/net8.0/rpswa.dswa.cache.json
/MVC/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/MVC/obj/Debug/net8.0/staticwebassets.build.json
/MVC/obj/Debug/net8.0/staticwebassets.build.json.cache
/MVC/obj/Debug/net8.0/staticwebassets.development.json
/MVC/obj/Debug/net8.0/staticwebassets.references.upToDateCheck.txt
/MVC/obj/Debug/net8.0/staticwebassets.upToDateCheck.txt
/APP/obj/Debug/net8.0/ref
/APP/obj/Debug/net8.0/refint
/APP/obj/Debug/net8.0/APP.AssemblyInfo.cs
/APP/obj/Debug/net8.0/APP.AssemblyInfoInputs.cache
/APP/obj/Debug/net8.0/APP.csproj.AssemblyReference.cache
/APP/obj/Debug/net8.0/APP.csproj.BuildWithSkipAnalyzers
/APP/obj/Debug/net8.0/APP.csproj.CoreCompileInputs.cache
/APP/obj/Debug/net8.0/APP.csproj.FileListAbsolute.txt
/APP/obj/Debug/net8.0/APP.csproj.Up2Date
/APP/obj/Debug/net8.0/APP.dll
/APP/obj/Debug/net8.0/APP.pdb
/APP/obj/Debug/net8.0/APP.sourcelink.json
/CORE/obj/Debug/net8.0/ref
/CORE/obj/Debug/net8.0/refint
/CORE/obj/Debug/net8.0/CORE.AssemblyInfo.cs
/CORE/obj/Debug/net8.0/CORE.AssemblyInfoInputs.cache
/CORE/obj/Debug/net8.0/CORE.csproj.BuildWithSkipAnalyzers
/CORE/obj/Debug/net8.0/CORE.csproj.CoreCompileInputs.cache
/CORE/obj/Debug/net8.0/CORE.csproj.FileListAbsolute.txt
/CORE/obj/Debug/net8.0/CORE.dll
/CORE/obj/Debug/net8.0/CORE.pdb
/CORE/obj/Debug/net8.0/CORE.sourcelink.json
