@model CategoryResponse

<h1>Category Details</h1>
<hr />
<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Description)
    </dd>
</dl>
<hr />
<a asp-action="List">Back to List</a>
